body {
  width: 100%;
  height: 100%;
  font-family: avenir next, serif;
  color: #333;
}

#book-quote {
  height:50px;
  width:50%;
  background-color: #00aae3;
  float:left;
}

#contact-number {
  height:50px;
  width:50%;
  background-color: #6db220;
  float:left;
}

#contact-number p, #book-quote p {
  font-size:15px;
  line-height:50px;
}

input {
  color:#444;
}

/* Styles that affect all the main content */
main {
  margin-bottom:3em;
}

html {
  width: 100%;
  height: 100%;
}

section {
  text-align:center;
  margin:0 auto;
}

p {
  text-align: left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-family: 'Passion One', cursive;
  /*font-weight: 200;*/
  letter-spacing: 1px;
  text-align:center;
}

.intro {
  display: table;
  width: 100%;
  height: 800px;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(../img/wellington_city2.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .brand-heading {
  font-size: 40px;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}

.btn-circle {
  width: 70px;
  height: 70px;
  margin-top: 15px;
  padding: 7px 16px;
  border: 2px solid white;
  border-radius: 100% !important;
  font-size: 40px;
  color: white;
  background: transparent;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.btn-circle:hover,
.btn-circle:focus {
  outline: none;
  color: white;
  background: rgba(255, 255, 255, 0.1);
}
.btn-circle i.animated {
  -webkit-transition-property: -webkit-transform;
  -webkit-transition-duration: 1s;
  -moz-transition-property: -moz-transform;
  -moz-transition-duration: 1s;
}
.btn-circle:hover i.animated {
  -webkit-animation-name: pulse;
  -moz-animation-name: pulse;
  -webkit-animation-duration: 1.5s;
  -moz-animation-duration: 1.5s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes pulse {
  0 {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0 {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
.content-section {
  padding-top: 100px;
}
.service-section {
  width: 100%;
  padding: 100px 0;
  color: white;
  background: url(../img/wellington-lookout.jpg) no-repeat center center scroll;
  /*background-color: rgba(132,176,53,.8);*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#cleaning-location {
  margin:3em auto;
  width: 100%;
  height: 200px;
  border:1px solid #f09;
}

#quote-form .form-group {
  padding:.2em;
}

#quote-image {
  margin-bottom:1em;
}

#contact-details h3 {
  text-align: center;
}

#send-message {
  margin-bottom:2em;
}

p {
  /*margin: 0 0 25px;*/
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

a {
  color: #6db220;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

#nav-bar-links li a:hover {
  color:#6db220;
}

#nav-bar-links li a:active {
  color:#6db220;
}

a:hover, a:active {
    text-decoration: none;
    color: #00B7FF;
}

.light {
  font-weight: 400;
}
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-transform: uppercase;
  font-family: avenir next, sans-serif;
  background-color: #222;
}

.fa-bars {
  color:#eee;
}

.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom .navbar-brand .navbar-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: white;
}
.navbar-custom .navbar-brand .navbar-toggle:focus,
.navbar-custom .navbar-brand .navbar-toggle:active {
  outline: none;
}
.navbar-custom a {
  color: white;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}
.navbar-custom .nav li a:hover {
  color: rgba(255, 255, 255, 0.8);
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}
.navbar-custom .nav li.active a:hover {
  color: white;
}

.btn {
  text-transform: uppercase;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0;
}
.btn-default {
  border: 1px solid #42dca3;
  color: #42dca3;
  background-color: transparent;
}
.btn-default:hover,
.btn-default:focus {
  border: 1px solid #42dca3;
  outline: none;
  color: black;
  background-color: #42dca3;
}
ul.banner-social-buttons {
  margin-top: 0;
}

.navbar-shrink {
  padding:10px 0px;
  background-color: #333;
}

@media (min-width: 480px) {

  #quote-image, #quote-form {
    width:50%;
    float:left;
  }

}

@media (min-width: 768px) {
  
  #book-quote, #contact-number {
    display:none;
  }

  p {
    /*margin: 0 0 35px;*/
    font-size: 20px;
    line-height: 1.6;
  }

  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }

  .other-page-navbar {
    background-color:#222;
  }
  
  #nav-bar-links li a {
    /*border:1px solid #f09;*/
    margin-left:-5px;
    margin-right:-5px;
    text-align: center;
  }

  .navbar-custom.top-nav-collapse {
    padding: 0;
    background-color: #222;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  }

  .intro {
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 100px;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
  }

  .content-section {
    padding-top: 250px;
  }
  .download-section {
    padding: 100px 0;
  }
  #map {
    height: 400px;
    margin-top: 50px;
  }

  #contact-form {
    width:50%;
    float:left;
    /*border:1px solid #f09;*/
  }

  #contact-details {
    width:50%;
    float:left;
    /*border:1px solid #f09;*/
  }

}

@media (min-width:1200px) {
  #contact-form {
    width:585px;
    float:left;
  }

  #contact-details {
    width:585px;
    float:left;
  }

  #quote-form {
    width:450px;
  }

}


@media (min-width: 1160px) {
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    text-align: left;
  }

  p {
    text-align: left;
  }

  #homepage-service p {
    text-align:center;
  }
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}


@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

footer {
  padding: 50px 0;
  /*background-color: rgba(49,168,224,0.5);*/
  background-color: #222;
  color:#fff;
}
footer p {
  margin: 0;
}
::-moz-selection {
  text-shadow: none;
  background: #00aae3;
  background-color: rgba(49,168,224,0.7);
}
::selection {
  text-shadow: none;
  background: #00aae3;
  background-color: rgba(49,168,224,0.7);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}
