body {
	overflow-x: hidden;
    overflow-y: scroll;
}

#intro-text {
  text-align: center;
}

.service-heading {
	text-align:center;
}

.welcome {
  padding-top:2em;
  margin:1em;
}

.welcome ul li {
  font-size:18px;
  text-align: left;
  margin:.5em;
}

#about-aaron p {
	margin:1.5em;
}

ul {
	padding-left:0;
}

#different-paragraph {
  margin-bottom:-2px;
}

.quick-links {
    border:1px solid #fff;
    color:#eee;
    padding:.5em;
}

.col-md-4 {
  margin-bottom:4em;
}

.service-links a img {
	border:1px solid #6DB220;
	margin:.5em;
	padding:0;
	height:150px;
	width:200px;
}

/* CODE FOR SLIDER  */

@import url(http://meyerweb.com/eric/tools/css/reset/reset.css);

div.wrapper {
    position: relative;
}

article.slider {
  height: 500px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  width: 800px;
}

article.slider section {
  display: block;
  display: none;
  height: 500px;
  width: 100%;
}

article.slider section:first-child {
    background: #29aae1 url(../img/slider/slider.jpg) center;
}

article.slider section:nth-child(2) {
    background: #673090 url(../img/slider/img2.png) center;
}

article.slider section:nth-child(3) {
    background: #6ebe35 url(../img/slider/img3.png) center;
}

article.slider section:nth-child(4) {
    background: #e0a32a url(../img/slider/img4.png) center;
}

article.slider section:last-child {
    background: #c0c0c0 url(../img/slider/img5.png) center;
}

p.next, p.prev {
    color: #6db220;
    cursor: pointer;
    font: 20px 'HelveticaNeue-Thin', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 600;
    position: absolute;
    top: 45%;
    z-index: 999;
}

p.next:hover, p.prev:hover {
    color: #00aae3;
}

p.next {
  right: 100px;
}

p.prev {
  left: 100px;
}

/* END OF CODE FOR SLIDER */

.footer-container h3 {
	text-align: center;
	width:100%;
}

.footer-container .col-lg-3 form #login {
	color:#6DB220;
}

.footer-container .footer-div-with-form h3 {
	margin-bottom:5px;
}

.footer-container .footer-div-with-form form {
	margin-top:2em;
}

.footer-nav li {
	list-style:none;
}

.footer-nav li a {
	color:#eee;
	/*text-decoration: underline;*/
}

.footer-nav li a:hover {
	color:#98c30f;
	text-decoration:underline;
}

